<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>food-recognition-MIM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	<servlet-name>recognition</servlet-name>
	<servlet-class>servlets.RecognitionServlet</servlet-class>
  </servlet>
	<servlet>
    <servlet-name>fileServlet</servlet-name>
    <servlet-class>servlets.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	 <servlet-name>recognition</servlet-name>
  	 <url-pattern>/recognise</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fileServlet</servlet-name>
    <url-pattern>/data/*</url-pattern>
  </servlet-mapping>

</web-app>